header{
    height: 80px;
    padding-top: 30px;
}
.title a{
    text-decoration: none;
    font-size: 30px;
    padding-top: 200px;
    margin-left: 40px;
    // color:#0000ff;
}
.subtitle{
    text-decoration: none; 
}
.navbar {
    height: 40px;
    background: #2a6fb7;
}
nav ul{
    overflow: hidden;
    list-style: none;
    height: 40px;
    max-width: 750px;
    text-align: center;
    margin: auto;
}
nav li{
    box-sizing: border-box;
    float: left;
    border: 1px solid #34589e;
    height: 40px;
    width: 50%;
    line-height: 40px;
}
nav li a{
    display: block;
    color:#ffffff;
}
.logout{
    margin-top: 10px;
    margin-right: 10px;
}
.post{
    float: right;
    margin-right: 10px;
    margin-top: 50px;
}
