.genre_show_up{
    border: 1px solid #000000;
    background-color: #eeeeee;
    height: 100px;
    width: 1188px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
